{#include page.base.html}

{#title}Hello {name ?: "Qute"}{/title}

{#script}
    <script>
        function deleteTask(taskId) {
            fetch('/tasks/' + taskId, {
                method:'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: null
            }).then(response => {
                if (response.status >= 200 && response.status < 400) {
                    window.location.reload();
                } else {
                    alert(response.statusText);
                }
            });
        }
    </script>
{/script}

{@java.util.List<? extends com.example.Task> tasks}
{#main}
    <h1>Tasks</h1>
    <p>Create your tasks using Quarkus RESTEasy & Qute</p>

    <article>
        <div class="task-grid">
            {#for task in tasks}
            <section>
            <div class="task-card" aria-label="list of tasks">
                <div class="task-card-row">
                    <h2 class="title" aria-label="title">{task.title}</h2>
                    <h2 class="detail" aria-label="due date">{task.dueDate.format('dd.MM.yyyy')}</h2>
                </div>
                <div>
                    <button class="edit">edit</button>
                    <button class="delete" onclick="deleteTask('{task.id}')">delete</button>
                </div>
            </div>
            </section>
            {/for}
        </div>
    </article>
{/main}
{/include}
