{@java.util.List<? extends com.example.Task> tasks}
<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello {name ?: "Qute"}</title>
    <link rel="stylesheet" href="qute-todo-app.css">
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script>
        function deleteSth(taskId) {
            fetch('/tasks/' + taskId, {
                method:'DELETE'
            }).then(() => {
                window.location.reload();
            }).catch(response => {
                return response.json()
            });
        }
    </script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Tasks</a></li>
            <li><a href="/reset">Reset</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Tasks</h1>

    <p>Create your tasks using Quarkus RESTEasy & Qute</p>

    <article>
        <div class="task-grid">
            {#for task in tasks}
            <section>
            <div class="task-card" aria-label="list of tasks">
                <div class="task-card-row">
                    <h2 class="title" aria-label="title">{task.title}</h2>
                    <h2 class="detail" aria-label="due date">{task.dueDate.format('dd.MM.yyyy')}</h2>
                </div>
                <div>
                    <button class="edit">edit</button>
                    <button class="delete" onclick="deleteSth('{task.id}')">delete</button>
                </div>
            </div>
            </section>
            {/for}
        </div>
    </article>
</main>
<footer>
    <p>© 2022</p>
</footer>
</body>
</html>
