{#include page.base.html}

    {#title}Hello {name ?: "Qute"}{/title}
    {#toastMessage}{#if onTaskDeleted}Deleted Task{/}{#if onTaskCreated}Created Task{/}{/toastMessage}

    {#script}
        <script>
            function deleteTask(taskId) {
                fetch('{path:root}/tasks/' + taskId, {
                    method:'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: null
                }).then(response => {
                    if (response.status >= 200 && response.status < 400) {
                        document.cookie = 'Application-Action=taskDeleted; max-age=20; SameSite=Strict;';
                        window.location.reload();
                    } else {
                        alert(response.statusText);
                    }
                });
            }
        </script>
    {/script}

    {@java.util.List<? extends com.example.todoapp.entity.Task> tasks}
    {#main}
        <div class="container">
            <div class="row">
                <div class="col s12 xl8 offset-m1">
                    <div class="section">
                        <div class="row">
                            <div class="col s12">
                                <h3 class="header">{i18n:task-title}</h3>

                                <article>
                                    <div class="col s12">
                                        <div class="row">
                                            <div class="col s6">
                                                <p class="caption">{i18n:task_list_caption}</p>
                                            </div>
                                            <div class="col s6 right-align">
                                                <a class="waves-effect waves-light btn" href="{path:root}/create"><i class="material-icons left">add</i>{i18n:create}</a>
                                            </div>
                                        </div>
                                        {#for task in tasks}
                                        <section>
                                            <div class="row" aria-label="list of tasks">
                                                <div class="col s12">
                                                    <div class="card">
                                                        <div class="card-content">
                                                            <div class="row">
                                                                <div class="col s6 card-title">
                                                                    <span class="card-title" aria-label="title">{task.title}</span>
                                                                </div>
                                                                {#if task.dueDate}
                                                                <div class="col s6 right-align">
                                                                    <span class="card-title" aria-label="due date">{task.dueDate.format('dd.MM.yyyy')}</span>
                                                                </div>
                                                                {/}
                                                            </div>
                                                            <div class="card-action">
                                                                <a class="waves-effect waves-light btn" href="{path:root}/edit/{task.key}"><i class="material-icons left">edit</i>{i18n:edit}</a>
                                                                <a class="waves-effect waves-red btn" onclick="deleteTask('{task.key}')"><i class="material-icons left">delete</i>{i18n:delete}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        {/for}
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/main}
{/include}
