{#include page.base.html}

{#title}Hello {name ?: "Qute"}{/title}
{#toastMessage}{#if onTaskDeleted}Deleted Task{/}{/toastMessage}

{#script}
    <script>
        function deleteTask(taskId) {
            fetch('/tasks/' + taskId, {
                method:'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: null
            }).then(response => {
                if (response.status >= 200 && response.status < 400) {
                    document.cookie= 'Application-Action=taskDeleted';
                    window.location.reload();
                } else {
                    alert(response.statusText);
                }
            });
        }
    </script>
{/script}

{@java.util.List<? extends com.example.Task> tasks}
{#main}
    <div  class="container">
        <div class="row">
            <div class="col s12 xl7 offset-m1">
                <div class="section">
                    <div class="row">
                        <div class="col s12">
                            <h3 class="header">Tasks</h3>
                            <p class="caption">Create your tasks using Quarkus RESTEasy & Qute</p>

                            <article>
                                <div class="col s12">
                                    {#for task in tasks}
                                    <section>
                                        <div class="row" aria-label="list of tasks">
                                            <div class="col offset-s1 s10">
                                                <div class="card">
                                                    <div class="card-content">
                                                        <div class="row">
                                                            <div class="col s6 card-title">
                                                                <span class="card-title" aria-label="title">{task.title}</span>
                                                            </div>
                                                            {#if task.dueDate}
                                                            <div class="col s6 right-align">
                                                                <span class="card-title" aria-label="due date">{task.dueDate.format('dd.MM.yyyy')}</span>
                                                            </div>
                                                            {/}
                                                        </div>
                                                        <div class="card-action">
                                                            <a class="waves-effect waves-light btn" href="tasks/{task.id}"><i class="material-icons left">edit</i>edit</a>
                                                            <a class="waves-effect waves-red btn" onclick="deleteTask('{task.id}')"><i class="material-icons left">delete</i>delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    {/for}
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/main}
{/include}
